<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebBehavior">
          <webHttp defaultBodyStyle="WrappedRequest" defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="sec" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="None">
            </transport>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint name="sms" address="http://localhost.:38570/Notification.svc" binding="webHttpBinding" behaviorConfiguration="WebBehavior" contract="ServiceReference1.ITPONotification"/>
      <!--<endpoint name="SMS" address="https://tpoitgn8i.tpolab.com/SyncService/Sync.svc" bindingConfiguration="sec" binding="webHttpBinding" behaviorConfiguration="WebBehavior" contract="TPOWebService.ITPOWebService" />-->
    </client>
  </system.serviceModel>  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
